# Игнорирование IDE конфигураций
.idea/
.vscode/

# Игнорирование папки сборки CMake
cmake-build-debug/

# Игнорирование конкретного файла
program

# Папка с заданиями, сделанными на паре
class_work

# на будущее
.env